@import '../../assets/_global.scss';

.note-card {
  .note-card-container {
    .new-note {
      width: 100%;
      padding: 30px 40px 0px 40px;

      textarea {
        height: 140px;
        padding: 15px 23px;
        width: 100%;

        resize: none;
        border: 1px solid $borderColor;
        color: $textGrayColor;
        outline: none;
      }

      .btn-container {
        height: 32px;
        margin-top: 20px;
        padding-bottom: 60px;
        border-bottom: 1px solid $borderColor;

        .post {
          float: right;
        }
      }
    }
  }

  .notes {
    .note {
      padding: 20px 40px 0px 40px;

      .header {
        font-size: $textSmallFontSize;
        margin-bottom: 10px;

        .author {
          font-weight: $textSemibold;
          float: left;
          margin-right: 10px;
        }

        .date {

        }
      }

      .text {
        padding-bottom: 25px;
        border-bottom: 1px solid $borderColor;
      }
    }

    .note:last-child .text {
      border-bottom: none;
    }
  }
}

.btn.more-notes {
  margin-bottom: 30px;
}
