@import '../../assets/_global.scss';

ul {
  list-style-type: none;
}

.zendesk-card {
  .account {
    height: 200px;
    padding: 40px 30px;
  }

  .avatar {
    float: left;
    margin-right: 25px;
  }

  .unknown.avatar {
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    background-image: url('../../assets/icons/slate_logo.png');
  }

  .info {
    padding: 40px 10px 30px 40px;
  }

  .user {
    padding-top: 5px;
  }

  .new-ticket {
    padding-top:40px;
    a {
      color: white;
    }
  }

  .svg-container { 
    display: inline-block;
    margin-left: 25px;
    position: relative;
    width: 100%;
    vertical-align: middle; 
    overflow: hidden; 
  }
}
